@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Party!</title>
    </head>
    <body>
        <div>
            <div>
                <h1>We're going to have an exciting party!</h1>
            </div>
            <a asp-action="RsvpForm"> RSVP Now</a>
        </div>
    </body>
</html>

